import React from 'react'
import clsx from 'clsx'
import * as style from './{{componentName}}.module.sass'

interface {{componentName}}Props {
	children?: React.ReactNode
	className?: string
}

const {{componentName}}: React.FC<{{componentName}}Props> = ({ children, className }) => {
	const rootClassName = clsx([style.page, 'Page', className])

	return (
		<div data-testid='{{componentName}}' className={rootClassName}>
			{children}
		</div>
	)
}

export default {{componentName}}
